<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Energy Sunburst Trial</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<body>

    <div id="bubble">

    </div>


    <div>
        <canvas id="myChart"></canvas>
    </div>
    <!-- <figure class="highcharts-figure">
        <div id="container"></div>
        <p class="highcharts-description">
            Sunburst charts are used to visualize hierarchical data in a
            circular shape. The inner elements are parent nodes, with
            child nodes distributed on the outer rings. Click on a parent
            node to drill down and inspect the tree in more detail.
        </p>
    </figure> -->


    <!-- <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/sunburst.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script> -->

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.1/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" integrity="sha512-SuxO9djzjML6b9w9/I07IWnLnQhgyYVSpHZx0JV97kGBfTIsUYlWflyuW4ypnvhBrslz1yJ3R+S14fdCWmSmSA==" crossorigin="anonymous"></script>
    <!-- <script src="https://www.jsdelivr.com/package/npm/chart.js@2.9.4/dist/Chart.bundle.js"></script> -->
    <!-- <script src="../static/js/plot.js"></script> -->
    <script src="../static/js/effects.js"></script>
    <!-- <script src="../static/js/test-0.js"></script> -->
    <!-- <script src="//unpkg.com/sunburst-chart"></script> -->

    
    
</body>
</html>
